{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Cierre Seguro
            <small>Distribuir Ordenes</small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Seleccione a Ejecutiv@ a Distribuir</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered">
                            <thead>
                                <th>Ejecutiv@</th>
                                <th>Cantidad Disponible</th>
                            </thead>
                            <tbody>
                                {% for d in getEjecutivos if false != getEjecutivos %}
                                    <tr>
                                        <td><label>
                                            {% if d.checked != "" %}
                                                <input type='checkbox' id='check-{{ d.id_user }}' onchange="des_marcar_ejecutivo('{{ d.id_user }}')" checked>
                                            {% else %}
                                                <input type='checkbox' id='check-{{ d.id_user }}' onchange="des_marcar_ejecutivo('{{ d.id_user }}')">
                                            {% endif %}
                                            {{ d.name|title }}
                                            </label>
                                        </td>
                                        <td><div id='div-{{ d.id_user }}'>{{ d.cantidad }}</div></td>
                                        <td>
                                            {% if ( d.cantidad > 0 )%}
                                                <a class="btn btn-warning btn-social" title="Archivo Cargado Temporal" data-toggle="tooltip" onclick="quitar_Ordenes_ejecutivos('{{ d.id_user }}');">
                                                <i class="fa fa-angle-double-right"></i>
                                                Quitar Ordenes
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Ordenes para Distribuir</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered">
                            <thead>
                                <th>Origen</th>
                                <th>Cantidad</th>
                                <th>Operacion</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Archivo Cargado Temporal</td>
                                    <td>{{ getQ_OrdenesSinDistribucionTMP.cantidad }}</td>
                                    <td>
                                        <div id='div-distribuyeTMP'>
                                            {% if getQ_OrdenesSinDistribucionTMP.cantidad >0 %}
                                                <a class="btn btn-success btn-social" title="Archivo Cargado Temporal" data-toggle="tooltip" onclick="Distribuir_Ordenes('TMP')">
                                                <i class="fa fa-angle-double-left"></i>
                                                Distribuir
                                                </a>
                                                <a href="#" class="btn btn-success btn-social" title="Ver Datos Cargados en Temporal" data-toggle="modal" data-target="#verDatosCargaTMP" onclick="carga_modal_datos_tmp_ordenes();">
                                                <i class="fa fa-eye"></i>
                                                Ver Datos
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sin Ejecutivo Asignado</td>
                                    <td>{{ getQ_OrdenesSinDistribucionPROD.cantidad }}</td>
                                    <td>
                                        <div id='div-distribuyePROD'>
                                            {% if getQ_OrdenesSinDistribucionPROD.cantidad >0 %}
                                                <a class="btn btn-success btn-social" title="Sin Ejecutivo Asignado" data-toggle="tooltip" onclick="Distribuir_Ordenes('PROD')">
                                                <i class="fa fa-angle-double-left"></i>
                                                Distribuir
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <div id="verDatosCargaTMP" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Datos Cargados desde Archivo</h4>
          </div>
          <div class="modal-body">
            <table id="table_datos_tmp" class="table table-bordered">
                <thead>
                    <th>rut_cliente</th>
                    <th>comuna</th>
                    <th>actividad</th>
                    <th>despachador</th>
                    <th>cod_tecnico</th>
                </thead>
                <tbody>

                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>





{% endblock %}
{% block appScript %}
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="views/app/js/cierreseguro/cierreseguro.js"></script>
    <script>
        $("#table_datos_tmp").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info":"Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing":"Procesando...",
                "infoEmpty":"No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate":{
                  "first":"Primera",
                  "last":"Ultima",
                  "next":"Siguiente",
                  "previous":"Anterior",
                }
            },
            "autoWidth": true,
            "lengthMenu": [[ 5, 10, 25, 50, -1], [ 5, 10, 25, 50, "Todos"]],
            "iDisplayLength": 5
        });
    </script>
{% endblock %}
