{% extends 'portal/portal' %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Informes
            <small>Productividad</small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
      <form id="formproductividad" name="formproductividad">
        <div class="row">
          <div class="col-lg-12">
          <div class="box">
            <div class="col-lg-6">
              <div class="box-header">
               <h3 class="box-title">Total Llamados</h3>
               <div class="box-body">
                 <div id="tbldatos" name="tbldatos">
                     <table class='table table-bordered' id="tblproductividad" name="tblproductividad">
                       <thead>
                           <th>Nombre</th>
                           <th>Llamados</th>
                           <th>Llamados Confirmados</th>
                           <th>Progreso</th>
                           <th>%</th>
                       </thead>
                       <tbody>

                             {% set total = 0 %}
                             {% set total_confirmados = 0 %}
                             {% for l in llamados if false != llamados %}
                                 <tr>
                                     <td style="width:100%;">{{ l.name }}</td>
                                     <td>{{l.cantidad_total}}</td>
                                     <td>{{l.cantidad}}</td>
                                     <td class="col-lg-1"><div class="progress progress-xs">
                                             <div class="progress-bar progress-bar-aqua" style="width: {{ ((l.cantidad / metas)*100) | round(1, 'ceil') }}%" role="progressbar" aria-valuenow="{{ ((l.cantidad / metas)*100) | round(1, 'ceil') }}" aria-valuemin="0" aria-valuemax="{{ metas }}">
                                                 <span class="sr-only">{{ ((l.cantidad / metas) *100) | round(1, 'ceil') }}% </span>
                                             </div>
                                         </div></td>
                                     <td>{{((l.cantidad / metas) *100) | round(1,'ceil')  }}%</td>
                                     {% set total = total + l.cantidad_total %}
                                     {% set total_confirmados = total_confirmados + l.cantidad %}
                                 <tr>
                             {% endfor %}
                             <td>TOTAL:</td>
                             <td>{{total}}</td>
                             <td>{{total_confirmados}}</td>
                       </tbody>
                     </table>
                 </div>
                </div>
                  <label>Meta total: <input type="number" class="text-center"id="txtmeta" name="txtmeta" value="{{metas}}"></label>
             </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </section>
    {% endblock %}
    {% block appScript %}
      <script src="views/app/js/confirmacion/confirmacion.js"></script>

    {% endblock %}
