{% extends 'portal/portal' %} {% block appStylos %}
<link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
<style media="screen">
    .at {
        display: none;
    }
</style>
{% endblock %} {% block appBody %}
<section class="content-header">
    <h1>
        Sin Moradores
        <small>Listado de Ordenes Registradas Sin Moradores</small>

        <a class="btn btn-primary btn-social pull-right" href="sinmoradores/nuevaorden" title="Agregar" data-toggle="tooltip">
            <i class="fa fa-plus"></i> Agregar Nueva Orden
        </a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table id="dataordenes" name="dataordenes" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>N°Orden</th>
                                <th>Rut Cliente</th>
                                <th>Bloque</th>
                                <th>Comuna</th>
                                <th>Tecnico</th>
                                <th>Funciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in OT if false != OT %} {% if t.estado != 'PENDIENTE' %} {% else %}
                            <tr>
                                <td>{{ t.id_orden }}</td>
                                <td>{{ t.rut }}</td>
                                <td>{{ t.tecnico }}</td>
                                <td>{{ t.bloque }}</td>
                                <td>{{ t.comuna }}</td>
                                <td>
                                    <a data-toggle='tooltip' data-placement='top' id="modificar" name="modificar" title='Modificar' class='btn btn-success btn-sm'
                                        href="sinmoradores/editar/{{t.id_sinmoradores}}">
                                        <i class='glyphicon glyphicon-edit'></i>
                                    </a>
                                    <a data-toggle='tooltip' data-placement='top' id="eliminar" name="eliminar" title='Eliminar' class='btn btn-danger btn-sm'
                                        href="sinmoradores/eliminar/{{t.id_sinmoradores}}">
                                        <i class='glyphicon glyphicon-remove'></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block appScript %}

<script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

<script src="views/app/js/sinmoradores/sinmoradores.js"></script>

<script>
    $("#dataordenes").dataTable({
        "language": {
            "search": "Buscar:",
            "zeroRecords": "No hay datos para mostrar",
            "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "infoEmpty": "No hay entradas para mostrar",
            "lengthMenu": "Mostrar _MENU_ Filas",
            "paginate": {
                "first": "Primera",
                "last": "Ultima",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "autoWidth": true,
        "scrollX": true,
        "bSort": false
    });
</script>
{% endblock %}