{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">

{% endblock %}
{% block appBody %}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Cierre Seguro
                <small>Cierre Seguro Supervisor</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Cierre Seguro Supervisor</li>
            </ol>
            <div class="pull-right">
                <small>
                    <label>Filtrar por:</label>
                    <label>&nbsp;</label>
                    <labe><input type="radio" name="selectopcion" id='selectopcion' onchange="seleccionar_opcion('0')" checked>Por Fecha</label>
                    <label>&nbsp;</label>
                    <labe><input type="radio" name="selectopcion" id='selectopcion' onchange="seleccionar_opcion('1')">Por Orden</label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div class="pull-right" id="divopciones" name="divopciones">
                        <form id="form_filtrar_ordenes_supervisor" name="form_filtrar_ordenes_supervisor">
                            <label>Desde:</label>
                            <input type='date' id='textdesde' style='width:130px;' name='textdesde' value='{{ "now"|date("Y-m-d") }}'>
                            <label>&nbsp;</label>
                            <label>Hasta:</label>
                            <input type='date' id='texthasta'  style='width:130px;' name='texthasta' value='{{ "now"|date("Y-m-d") }}'>
                            <input type='hidden' id='opcion' name='opcion' value='fechas'>

                            <a class='btn btn-primary' id='btnfiltrarfecha' name='btnfiltrarfecha' title='Buscar registro' onclick='filtrar_ordenes_supervisor();' data-toggle='tooltip'>Filtrar Fecha</a>
                            <button type="button" onclick="location.reload();" class="btn btn-primary">Quitar Filtro</button>
                            <a class="btn btn-success btn-social" id="btnexportarexcel" name="btnexportarexcel" onclick="exportarexcel('fecha');" title="Exportar a Excel" data-toggle="tooltip">
                                <i class="fa fa-arrow-down"></i> Exportar Excel
                            </a>
                        </form>
                    </div>
                </small>
            </div>
        </section>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formcierre" name="formcierre">
                        <table id="datacierre" name="datacierre" class="table table-bordered table-responsive">
                            <thead>
                                <th>N°</th>
                                <th>EJECUTIVO</th>
                                <th>N_ORDEN</th>
                                <th>RUT_CLIENTE</th>
                                <th>COMUNA</th>
                                <th>ACTIVIDAD</th>
                                <th>TECNICO</th>
                                <th>DESPACHADOR</th>
                                <th>TELEFONO</th>
                                <th Width="100">ultimo contacto</th>
                                <th>LLAMADOS</th>
                                <th>ESTADO</th>
                                <th>OPCIONES</th>
                            </thead>
                            <tbody>
                                {% set No = 1 %}
                                {% for s in db_cierre_sup if false != db_cierre_sup %}
                                    <tr>
                                        <td>{{ No }}</td>
                                        <td>{{ s.name }}</td>
                                        <td>{{ s.n_orden }}</td>
                                        <td>{{ s.rut_cliente }}</td>
                                        <td>{{ s.comuna }}</td>
                                        <td>{{ s.actividad }}</td>
                                        <td>{{ s.cod_tecnico }}</td>
                                        <td>{{ s.despachador }}</td>
                                        <td>{{ s.telefono }}</td>
                                        <td>{{ s.ultimo_contacto }}</td>
                                        <td>{{ s.prioridad }}</td>
                                        {% if s.estado == "1" %}
                                            <td>PENDIENTE</td>
                                            <td>
                                                <a data-toggle='tooltip' data-placement='top' id='btncierremodificar' name='btncierremodificar' title='Dejar Pendiente' class='btn btn-warning btn-sm' disabled>
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>  <label>&nbsp;</label>
                                            </td>
                                        {% elseif s.estado == "2" %}
                                            <td>APROBADO</td>
                                            <td>
                                                <a data-toggle='tooltip' data-placement='top' id='btncierremodificar' name='btncierremodificar' title='Dejar Pendiente' class='btn btn-warning btn-sm' onclick="select_modificar_orden_cerrada('{{s.id}}');">
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                            </td>
                                        {% elseif s.estado == "3" %}
                                            <td>CLI/RECHAZA</td>
                                            <td>
                                                <a data-toggle='tooltip' data-placement='top' id='btncierremodificar' name='btncierremodificar' title='Dejar Pendiente' class='btn btn-warning btn-sm' onclick="select_modificar_orden_cerrada('{{s.id}}');">
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                                <label>&nbsp;</label>
                                                <a data-toggle='tooltip' data-placement='top' id='btnver' name='btnver' title='Observacion' class='btn btn-primary btn-sm' onclick="verobservacion('{{s.id}}')">
                                                    <i class='glyphicon glyphicon-eye-open'></i>
                                                </a>
                                            </td>
                                        {% elseif s.estado == "5" %}
                                            <td>S/CONTACTO</td>
                                            <td>
                                                <a data-toggle='tooltip' data-placement='top' id='btncierremodificar' name='btncierremodificar' title='Dejar Pendiente' class='btn btn-warning btn-sm' onclick="select_modificar_orden_cerrada('{{s.id}}');">
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% set No = No + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

  <script src="views/app/js/cierreseguro/cierreseguro.js"></script>

    <script>
        $("#datacierre").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": false,
            "bSort": false,
            "scrollX": true
        });
    </script>
{% endblock %}
