{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">

{% endblock %}
{% block appBody %}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Cierre Seguro
                <small>Cierre Seguro</small>
            </h1>
        </section>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formcierre" name="formcierre">
                        <table id="datacierre" name="datacierre" class="table table-bordered table-responsive">
                            <thead>
                                    <th>N_ORDEN</th>
                                    <th>RUT_CLIENTE</th>
                                    <th>COMUNA</th>
                                    <th>ACTIVIDAD</th>
                                    <th>TECNICO</th>
                                    <th>DESPACHADOR</th>
                                    <th>TELEFONO</th>
                                    <th Width="100">ultimo contacto</th>
                                    <th Width="100">OPERACION</th>
                            </thead>
                            <tbody>
                                {% set No = 1 %}
                                {% for c in db_cierre if false != db_cierre %}
                                    <tr>
                                        <td><input size="12" type="text" id="n_orden-{{ c.id }}" name="n_orden-{{ c.id }}" value="{{ c.n_orden }}" onchange="update_datos_orden('{{ c.id }}');"></td>
                                        <td>{{ c.rut_cliente }}</td>
                                        <td>{{ c.comuna }}</td>
                                        <td>{{ c.actividad }}</td>
                                        <td>{{ c.cod_tecnico }}</td>
                                        <td>{{ c.despachador }}</td>
                                        <td><input size="20" type="text" id="telefono-{{ c.id }}" name="telefono-{{ c.id }}" value="{{ c.telefono }}" onchange="update_datos_orden('{{ c.id }}');"></td>
                                        <td>{{ c.ultimo_contacto }}</td>
                                        <td>
                                            <a data-toggle='tooltip' data-placement='top' id='btncierreaprobado' name='btncierreaprobado' title='Cierre Aprobado' class='btn btn-success btn-sm' onclick="select_cerrar_orden('{{c.id}}')">
                                                <i class='glyphicon glyphicon-check'></i>
                                            </a>&nbsp;
                                            <a data-toggle='tooltip' data-placement='top' id='btncierresiguiente' name='btncierresiguiente' title='Volver a Llamar' class='btn btn-primary btn-sm' onclick="select_volver_llamar('{{c.id}}')">
                                                <i class='glyphicon glyphicon-fast-forward'></i>
                                            </a>&nbsp;
                                            <a data-toggle='tooltip' data-placement='top' id='btncierreserroneo' name='btncierreerroneo' title='Cierre Rechazado' class='btn btn-danger btn-sm' onclick="select_orden_rechazada('{{c.id}}')">
                                                <i class='glyphicon glyphicon-remove'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% set No = No + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

  <script src="views/app/js/cierreseguro/cierreseguro.js"></script>

    <script>
        $("#datacierre").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": false,
            "bSort": false,
            "scrollX": true
        });
    </script>
{% endblock %}
