{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">

{% endblock %}
{% block appBody %}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                FEN
                <small>Listado de FEN</small>

                <div class="pull-right">
                        <small><label>Filtrar por:</label>
                        <label>&nbsp;</label>
                        <label><input type="radio" name="selectopcion" id='selectopcion' onchange="seleccionar_opcion_fen('0')" checked>Por Fecha</label>
                        <label>&nbsp;</label>
                        <label><input type="radio" name="selectopcion" id='selectopcion' onchange="seleccionar_opcion_fen('1')">Por Orden</label>
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="pull-right" id="divopciones_fen" name="divopciones_fen">
                          <label>Fecha:</label>
                          <label>&nbsp;</label>
                          <input type="date" id="fendesde" name="fendesde" value='{{ "now"|date("Y-m-d") }}'>
                          <label>&nbsp;</label>
                          <input type="date" id="fenhasta" name="fenhasta" value='{{ "now"|date("Y-m-d") }}'>
                          <label>&nbsp;</label>
                          <button type="button" name="btnbuscar" id="btnbuscar" onclick="filtrar_por_fecha()" class="btn btn-primary">Aplicar Filtrar</button>
                          <button type="button" onclick="location.reload();" class="btn btn-primary">Quitar Filtro</button>
                          <a class="btn btn-success btn-social" id="btn_exporta_excel" onclick="exporta_excel()" title="Exportar a Excel" data-toggle="tooltip">
                              <i class="fa fa-arrow-down"></i> Exportar
                          </a>
                        </div>
                    </small>
                </div>
            </h1>
        </section>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formfenordenes" name="formfenordenes">
                      <div id="tbldatos" name="tbldatos">


                        <table id="tablafen" name="tablafen" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>N°FEN</th>
                                    <th>USUARIO</th>
                                    <th>FECHA</th>
                                    <th>COMUNA</th>
                                    <th>FECHA_INICIO</th>
                                    <th>FECHA_FINAL</th>
                                    <th>ESCALADO</th>
                                    <th>ESTADO</th>
                                    <th>RUT_TITULAR</th>
                                    <th>DIRECCION</th>
                                    <th>NUMERO_TANGO</th>
                                    <th>NUMERO_OT</th>
                                    <th>CODIGO_TECNICO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set No = 1 %}
                                {% for f in db_fen if false != db_fen %}
                                    <tr>
                                        <td>{{No}}</td>
                                        <td>{{ f.fen }}</td>
                                        <td>{{ f.usuario }}</td>
                                        <td>{{ f.fecha}}</td>
                                        <td>{{ f.nombre }}</td>
                                        <td>{{ f.fechainicio }}</td>
                                        <td>{{ f.fechafinal }}</td>
                                        <td>{{ f.escalado }}</td>
                                        <td>{{ f.estado }}</td>
                                        <td>{{ f.rut_titular }}</td>
                                        <td>{{ f.direccion }}</td>
                                        <td>{{ f.numerotango }}</td>
                                        <td>{{ f.numeroot }}</td>
                                        <td>{{ f.codigo_tecnico }}</td>
                                        <td>
                                            <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="redes/editar_fen/{{f.id_fen}}">
                                                <i class='glyphicon glyphicon-edit'></i>
                                            </a>
                                            <a data-placement='top' name="btnlisteliminar" id="btnlisteliminar" title="Eliminar" onclick="eliminarfen({{f.id_fen}})" class='btn btn-danger btn-sm'>
                                                <i class='glyphicon glyphicon-remove'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% set No = No + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

  <script src="views/app/js/redes/redes.js"></script>

    <script>
        $("#tablafen").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "bSort": false,
          "scrollX": true
        });
    </script>
{% endblock %}
